html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
.dashboard {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.dash-item {
    border: 3px solid indigo;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}
h2 {
    margin: 0.5rem;
}
p {
    font-size: 1rem;
}
table {
    display: inline-block;
}
th {
    text-align: left;
    padding-right: 5rem;
}
td {
    text-align: right;
}
input[type=number] {
    border: none;
    box-shadow: 0 0 0 2px rebeccapurple;
    border-radius: 4px;
    outline: none;
    text-align: center;
    width: 12ch;
    padding: 0.5ch;
    font-size: 1rem;
    color:indigo;
    -moz-appearance: textfield;
}
input[type=number]:focus {
    box-shadow: 0 0 0 3px indigo;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 8px
}
input[type=submit] {
    display: inline-block;
    background-color: slateblue;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:focus {
    background-color: darkslateblue;
}